body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.calculator-window {
    background-color: #fff;
    position: fixed;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
}

.calculator {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    position: relative;
    border: solid 1px rgb(200, 200, 200);
    padding: .3em;
    box-shadow: 0 0 3px #bbb;
    user-select: none;
}

.calc-display {
    margin: .3em;
    padding: .6em;
    direction: rtl;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 1px rgb(200, 200, 200);
}

.operators {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 100%;
}

.op-button {
    flex: 1 1 25%;
    background-color: rgb(200, 200, 200);
    margin: .3em;
    padding: .3em;
    border: solid 1px rgb(200, 200, 200);
}

.keypad {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%;
}

.numbers {
    display: flex;

    flex-flow: row wrap;
    flex: 0 0 75%;
}

.enter-button {
    flex: 0 1 25%;
    margin: .3em;
    padding-top: 3.9em;
    background-color: rgba(50, 150, 255, 0.8);
    color: #ddd;
    border: solid 1px rgb(200, 200, 200);
}

.enter-button:hover {
    background-color: whie;
}

.button {
    flex: 1 1 25%;
    margin: .3em;
    padding: .3em;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(200, 200, 200);
}